/**
 * Overrides
 */

.form-control:focus,
.form-control {
  color: #a5a6a6;
  background-color: #222222;
  outline: none;
  box-shadow: none;
}

/**
 * CSS
 */
body,
html {
  margin: 0 0 0 0;
  height: 100%;
  background: #222222;
  color: #a5a6a6;
  overflow: hidden;
}

.bgb1 {
  background: #222222;
}

.bgb2 {
  background: #1d1d1d;
}

.bgb3 {
  background: #141414;
}

.tcw {
  color: #a5a6a6;
}

.mt38 {
  margin-top: 38px;
}

.mt15 {
  margin-top: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#parent {
  width: 100%;
  height: 161px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#stretchable-div {
  width: 100%;
  white-space: nowrap;
}

.child {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 242px;
  height: 136px;
  margin-right: 10px;
  display: inline-block;
}
