<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Vendor  CSS -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="app.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div v-if="!isRendering" class="container-fluid">
      <div class="row" style="position: absolute; top: 0; left: 15px; right: 15px; padding: 38px 0 0;">
        <div class="col-sm-12">
          <input type="text" class="form-control text-center border-top-0 border-right-0 border-left-0 bgb1" placeholder="Write video title here..."
            v-model="videoNameInput" style="border-radius: 0; outline: none;">
        </div>
      </div>

      <div class="row bgb2" style="position: absolute; top: 90px; bottom: 68px; left: 15px; right: 15px; padding: 15px 0 0; ">
        <div class="col-sm-12 ">
          <h6 style="line-height: 36px;">
            Add Photos and Videos
            <button class="btn btn-sm btn-primary float-right " v-on:click="importVideoFiles()">Select files</button>
            <button class="btn btn-sm btn-link float-right tcg" v-on:click="shuffleVideos()">Shuffle</button>
          </h6>

          <draggable v-model="list" @start="drag=true" @end="drag=false" style="overflow-y: auto; position: absolute; top: 45px; bottom: 0; left: 0; right: 0;"
            class="text-center">
            <div class="child bgb2" :title="element.name" :style="{ 
                  backgroundImage: 'url(\'file://' + getImageThumbnail(element.name) + '\')' 
                }" v-for="(element, key) in list" v-on:click="setActiveElement(element)">
              <div style="position: absolute; right: 5px; bottom: 5px;">
                <span title="Position in video." class="text-muted btn btn-sm btn-light disabled">#{{key + 1}}</span>
                <span title="Video duration." class="text-muted btn btn-sm btn-light disabled">{{getFormattedDuration(element.streams[0].duration)}}</span>
                <button class="btn tcg btn-primary btn-sm" v-on:click="removeVideo(element.id)">
                  <i class="fa fa-trash tcw"></i>
                </button>
              </div>
            </div>
          </draggable>
        </div>
      </div>

      <div class="text-center bgb3 " style="position: absolute; bottom: 0; left: 0; right: 0; padding: 15px; ">
        <button class="btn btn-primary btn-block float-right" v-on:click="startCreatingVideo()" :class="{ 'disabled': list.length === 0 }">
          Create Video
          <span v-if="list.length > 0">({{getFormattedDuration(videoLength)}})</span>
        </button>
      </div>
    </div>

    <div class="jumbotron vertical-center bgb1" v-if="isRendering ">
      <div class="container-fluid text-center ">
        <img src="loading.gif ">
        <h1 class="display-4 font-weight-light tcg">Creating video...</h1>
      </div>
    </div>
  </div>

  <script>
    require('./app.js')
  </script>
</body>

</html>