<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Vendor  CSS -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="app.css" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div v-if="!isRendering" class="container-fluid">
      <div class="row" style="position: absolute; top: 0; left: 15px; right: 15px; padding: 38px 0 0;">
        <div class="offset-sm-2 col-sm-8">
          <input type="text" class="form-control text-center border-top-0 border-right-0 border-left-0 bgb1" placeholder="Write video title here..."
            v-model="videoNameInput" style="border-radius: 0; outline: none;">
        </div>
      </div>

      <div class="text-align: center;" style="position: absolute; top: 90px; bottom: 355px; left: 15px; right: 15px;">
        <div class="embed-responsive embed-responsive-16by9" style="margin: 0 auto 0; max-height: 100%; max-width: 100%;">
          <div v-if="isPreviewRendering" class="embed-responsive-item text-center" style="transform: translateY(50%)">
            <i class=" fa fa-refresh fa-spin fa-5x fa-fw"></i>
          </div>

          <video v-if="!isPreviewRendering" style="box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.3); " class="embed-responsive-item "
            controls id="video ">
            <source id="source " :src="videoSrc" />
          </video>
        </div>
      </div>

      <div class="row" style="position: absolute; bottom: 288px; left: 15px; right: 15px; padding: 15px 0; ">
        <div class="col-sm-12 text-center ">
          <button class="btn btn-link btn-lg border border-primary border-left-0 border-right-0 border-top-0 rounded-0" v-on:click="setActiveView( 'videos')"
            v-bind:class="{'border-bottom-0': activeView != 'videos'}">
            <i class="fa fa-film tcw "></i>
          </button>
          <button class="btn btn-link btn-lg border border-primary border-left-0 border-right-0 border-top-0 rounded-0" v-on:click="setActiveView( 'audio') "
            v-bind:class="{'border-bottom-0': activeView != 'audio'}">
            <i class="fa fa-music tcw "></i>
          </button>
        </div>
      </div>

      <div v-if="activeView=='videos' " class="row bgb2" style="height: 220px; position: absolute; bottom: 68px; left: 15px; right: 15px; padding: 15px 0; ">
        <div class="col-sm-12 ">
          <h6 style="line-height: 36px;">
            Add Photos and Videos
            <button class="btn btn-sm btn-primary float-right " v-on:click="importVideoFiles() ">Select files</button>
            <button class="btn btn-sm btn-link float-right tcw " v-on:click="shuffleVideos() ">Shuffle</button>
          </h6>

          <div v-if="activeElement">
            <div class="row" style="margin-bottom: 15px;">
              <div class="col-sm-4 offset-sm-4 text-center border border-primary border-top-0 border-bottom-0" style="height: 90px;">
                <div v-if="activeElement.isImage">
                  <h6>Duration: {{activeElement.duration}} seconds</h6>
                  <input type="range" min="1" max="10" step="1" v-model="activeElement.duration" />
                </div>
              </div>

              <div class="col-sm-4 text-center">
                <button class="btn tcw btn-link btn-sm" v-on:click="removeVideo(activeElement.id)">
                  <i class="fa fa-trash fa-3x"></i>
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <button class="btn btn-primary" v-on:click="copyActiveElementToElementList()">
                  Done
                </button>
              </div>
            </div>
          </div>

          <div v-if="!activeElement" id="parent">
            <div id="stretchable-div">
              <draggable v-model="list" @start="drag=true" @end="drag=false; onMoved()">
                <div class="child bgb2" :title="element.name" :style="{ 
                  backgroundImage: 'url(\'file://' + getImageThumbnail(element.name) + '\')' 
                }" v-for="(element, key) in list" v-on:click="setActiveElement(element)">
                  <!-- <small class="text-muted ">{{getFormattedDuration(element.streams[0].duration)}}</small> -->
                </div>
              </draggable>
            </div>
          </div>
        </div>
      </div>

      <div v-if="activeView=='audio' " class="row bgb2 " style="height: 220px; position: absolute; bottom: 68px; left: 15px; right: 15px; padding: 15px 0; ">
        <div class="col-sm-12 ">
          <h6 style="line-height: 36px;">
            Add a Soundtrack
            <button class="btn btn-sm float-right btn-primary " v-on:click="importAudioFile() ">Select audio file</button>
          </h6>

          <audio controls="controls" v-if="audioFile !== null">
            Your browser does not support the
            <code>audio</code> element.
            <source :src="audioFile.name" type="audio/wav">
          </audio>

          <!-- <small>{{audioFile.name}}</small>
          <button class="btn btn-link float-right btn-sm " v-on:click="removeAudioFile() ">Remove</button>
          <button class="btn btn-link disabled float-right btn-sm " style="cursor: pointer ">3:02</button> -->
        </div>
      </div>

      <div class="text-center bgb3 " style="position: absolute; bottom: 0; left: 0; right: 0; padding: 15px; ">
        <button class="btn btn-primary float-right " v-on:click="startCreatingVideo() ">Create Video ({{getFormattedDuration(videoLength)}})</button>
      </div>
    </div>

    <div class="jumbotron vertical-center bgb1" v-if="isRendering ">
      <div class="container-fluid text-center ">
        <img src="loading.gif ">
        <h1 class="display-4 font-weight-light tcw">Creating video...</h1>
      </div>
    </div>
  </div>

  <script>
    require('./app.js')
  </script>
</body>

</html>